<!doctype html>
<html>

<link rel="stylesheet" type="text/css" href="/css/style.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<head>
    <title>How to Guide</title>
</head>
    


<body>


<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="/">Home</a></li>
            <li><a href="/unirest">Unirest</a></li>
            <li><a href="/data">Getting the Data</a></li>
            <li><a href="/example">Example</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>HOW TO Guide For TrailAPI</h1>
                         {{{body}}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          
        






</html>
