

<h1>Time to Get in Shape, YOU FATTY</h1>


<form action="/" >
  <label for="Your Data">Your Exercise Data:</label>
  <input id="name" type="text" name="name" placeholder="exercise name">
    <input id="reps" type="text" name="reps" placeholder="reps">
    <input id="weight" type="text" name="weight" placeholder="weight">
    <input id="date" type="text" name="date" placeholder="date">
    <input id="lbs" type="text" name="lbs" placeholder="lbs">
  <input type="submit" name="Exercise" id="exercise">
</form>





<table>
    
    <trow>
        <th>Exercise Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>lbs/kg</th>
    
    
    </trow>

</table>


 