

<h3>Intro to Mashape</h3>

<div class="intro">

<p class="intro">For this tutorial I decided to use TrailAPI which returns  information of outdoor activities such as hiking and mountain and  biking trails, campgrounds, ski resorts, ATV trails, and more.</p>

<p>This API is a part of mashape's API Marketplace so to use this API you would need to register with mashape. If you are not familiar with mashape, Mashape is the Cloud API Marketplace where developers can easily consume Cloud APIs to integrate into their next project. It is very useful for a developer who consumes a lot of API's, without mashape a developer may need to read through alot of documentation just to find the right API. With mashape it lets the developer finds what they need very quickly and without much hassle.</p>

<p> Go ahead and go to www.trailapi.com and lets get the ball rolling. This link will redirect you to mashape's marketplace and to information regarding TrailAPI. It doesn't look like much but we have all the information we need to get started. This is the page you shuld be seeing. </p>
<img src="img/front.png" alt="front page" style="width:700px;height:350x;">

<p></p>

<p>If you look to the right of the screen you will the endpoint defintion 'GEThttps://trailapi-trailapi.p.mashape.com/'. And you should also the word 'GET' telling us that we are going to be needing to make a GET request to retrieve our data. Right below this you sould see the following code snippet. I'll go into unirest in a little bit but you can see that we are in need of an API key to go ahead and get this working. Go ahead and hit sign up free at the very top so we can being getting our data. </p>

<img src="img/unirestsnip.png" alt="unirest" style="width:500px;height:350x;">

<p>We need to register to obtain an API key, so go ahead and register your information.</p> 


<p> Once you have registered your information the page should have gone right back to the page you were before but as you can now see under the the code an API key has been automatically added in for us. Awesome! Now lets talk a little about unirest and what it does exactly on the next page. </p>

</div>


 <a class="btn btn-default" href="/unirest" role="button">Next Page</a>